/* .card-img, .card-img-bottom, .card-img-top
{
 width: 25% !important;
} */

.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("https://a.cdn-hotels.com/cos/heroimage/homepage/IRELAND.jpg?impolicy=fcrop&w=1900&h=425&q=high");
    padding: 180px 0px 50px 0px;
    position: relative;
    overflow: hidden;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 26rem; */
    opacity: 1;
    /* background-image:  */

}
.more-info{
    width: 7rem!important;
}
.old-price{
    text-decoration: line-through
}
.new-price{
    color: rgb(49, 87, 9);
    font-weight: 700;
    font-size: 1.7rem;
}
a{
    text-decoration: blue;
}
.covid-message{
    position: relative;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #333333;
    background-color: blanchedalmond;
}
.btn-primary {
    color: #fff;
    background-color: #156BC4;
    border:"none";
    border-radius: 0px;
    width: 15rem;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0e54a0;
     border:"none";
}
.btn-primary-selected{
     color: #fff;
    background-color: #156BC4;
    border:"none";
}
label{
 color: rgba(0, 0, 0, 0.555);
}
.container{
    background: white;
    border-radius: 8px;
    padding: 1rem;
    /* text-align: center; */
}
.check-covid{
    color: darkblue !important;
    cursor: pointer;
    text-decoration: underline;
}

.btn.btn-success.focus,
.btn.btn-success:focus {
   color: #fff;
    background-color: #156BC4;
    border:"none";
}
.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
color: #fff;
    background-color: #156BC4;
     border:"none";
}
.btn-success:active:focus {
color: #fff;
    background-color: #156BC4;
    border:"none";
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #ffffff !important;
  background-color: #156BC4 !important;
     border:"none";
}
.text-right{
    text-align: right;
}
.checked {
  color: orange;
}
